* {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    /* padding: 2pt; */
    margin-left: 2em;
    }

h3 {
    /* padding: 2pt; */
    margin-left: 2em;
        }

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 4) {

}
#heading {
    display: flex;
    flex-direction: column;

}
#logo {
    height: fit-content;
    width: 45vw;
}

#increment {
  width: 50px;
  
}

#decrement {
  width: 50px;
}

img {
height: auto;
max-width: 100%;
}

#inputs-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas:
    'counter bttn_1 bttn_2 bttn_3 .'
    'counter bttn_4 bttn_5 bttn_6 play'
    'time . bttn_8 . stop'
    'time . bttn_10 . .'

}
#increment.plus_one {
    grid-area: bttn_2;
    justify-self: center;
    align-self: center;
}

#decrement.minus_one {
    grid-area: bttn_5;
    justify-self: center;
    align-self: center;
}

#increment.plus_point_one {
    grid-area: bttn_1;
    justify-self: center;
    align-self: center;
}

#decrement.minus_point_one {
    grid-area: bttn_4;
    justify-self: center;
    align-self: center;
}

#increment.plus_ten {
    grid-area: bttn_3;
    justify-self: center;
    align-self: center;
}

#decrement.minus_ten {
    grid-area: bttn_6;
    justify-self: center;
    align-self: center;
}

#time-up {
    grid-area: bttn_8;
    justify-self: center;
    align-self: center;
    width: 50px;
}

#time-down {
    grid-area: bttn_10;
    justify-self: center;
    align-self: center;
    width: 50px;
}

#freq-input {
    grid-area: counter;
    justify-self: center;
    align-self: center;
}

#time-input {
    grid-area: time;
    justify-self: center;
    align-self: center;
}

.action-bttn {
    grid-area: play;
    justify-self: center;
    align-self: center;
}


#container {
border: 2px solid black;
}

#menu { 
    border-radius: 5px;
    padding: 12px;
    width: 225px;
    /* height: 25px; */
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#inputs {
        
        padding: 12px;
        width: 200px;
        height: 25px;
        margin-top: 18px;
        margin-bottom: 31px;
        margin-left: 12px;
        background-color: black;
        color: white;
    }




.action-bttn {
    border-radius: 2%;
    background-color: orange;
    border: none;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    
}

#device-log {
    height: fit-content;
    width: 25vw;
}

button {
    background-color: none;
    border: none;
}

